// Variables

// colors
$black: #000000;
$white: #ffffff;
$dark-green: #00a413;
$medium-green: #00bd16;
$light-green: #00ec1b;
$link-blue: #0000ff;
$hover-blue: #5252ff;
$link-red: #ff0000;
$hover-red: #ff5252;

// Selectors

body {
    background: $white;
}

h1 {
    color: $medium-green;
}

p {
    color: $black;
}

a, a:visited {
    color: $link-blue;
    text-decoration: none;
}

a:hover {
    color: $hover-blue;
}